.header{width:100%; margin:0 auto; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04);}
.header .inner{width:97%; height:68px; line-height:68px; margin:0 auto; color:#333;}
.header .inner .logo{width:140px; float:left; font-size:1.3em; text-align:center;}
.header .inner .nav{width:750px; float:left;}
.header .inner .nav a{font-size:1.3em; padding:0 8px; color:#333; font-weight:bold;}
.header .inner .nav a:hover{color:#007be3}

.container{width:100%; max-width:1920px; margin:20px auto; height:100%; overflow:hidden;}
.container .left{width:100%; float:left; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04); margin-bottom: 2em;}
.container .left .video{width:94%; margin:0 auto;}
.container .left p{font-size:1.5em; font-weight:normal;}
.container .left p a{font-size:1.5em;text-decoration:underline; margin-bottom:20px; display:inline-block; color:#333;}
.container .left p strong{font-size:1.2em; color:#333}
.container .left h1{font-size:2.5em; color:#333; padding:20px 0px; width:94%; margin:0 auto;}
.container .left .video h2{font-size:2em; color:#333; font-weight:bold; margin-bottom:0.2em;}

.container .video_list{width:100%; max-width:1600px; background:#FFF; box-shadow: 0 0 14px rgba(0,0,0,.04); margin:0em auto; border-radius:10px; overflow: hidden; padding: 1em 0;}
.container .video_list .item_list{width:94%; min-width:200px; height:100%; padding:0px; margin:3%; border-bottom:1px solid #eee; transition:all 0.5s; float:left; border-radius:20px; overflow:hidden;box-shadow: 0 0 20px rgba(0,0,0,.1);}
.container .video_list .item_list:hover{box-shadow: 0 0 20px rgba(0,0,0,.5);}
.container .video_list .item_list img{width:100%; height:100%; float:left;}
.container .video_list .item_list h2{padding:1em; font-size: 2em; font-weight:bold; color:#333;float:left;}
.container .video_list .item_list a{color:#333;}
.container .left h1{font-size:30px; color:#333; padding:20px 50px; font-weight:bold; margin: 0 auto 0.8em; line-height: 1.2em}

.copy-text{display:block; text-align:right; cursor:pointer;font-size:14px;color:#CCC; padding-right:3px; position:absolute; right:0; top:0;}


